<div class="page-header">
  <h1>All Happy Places</h1>
</div> <!-- end page header div -->

<% @tags.each do |tag| %>
<h3><%= tag.title %></h3>
<p><%= tag.category %></p>
<p><%= tag.comment %></p>
<% end %>

