<div class="row">
  <div class="jumbotron">
    <div class="row">
      <div class="col-md-8">
        <h1>Find your Happy Place! <br><small>Bookmark your favorite places</small></h1>
      </div>
      <div class="col-md-4">
        <%= image_tag('street_sign.png', class: 'img-responsive') %>
      </div>
    </div>
  </div>
</div>

<div class="about">
<h3>
  We all have those go-to places that we visit on a regular basis.  But this world is too huge, and life’s too short to be going to the same places over and over again.  So tag your favorite places to share your happiness with the world while exploring the neighborhood to see what’s making others happy, too!   

Find Your Happy Place lets you bookmark your favorite places:
</h3>
<div class="row">
  <div class="col-xs-6 col-md-3">
    <div class="thumbnail">
      <img data-src="../images/red_hens.jpg" alt="cupcakes from 2 Little Red Hens, UES">
      <div class="caption">
        <h3>Food</h3>
        <p>Tag your favorite places to chow down (restaurants, bakeries)</p>
      </div>
    </div>
  </div>
  <div class="col-xs-6 col-md-3">
    <div class="thumbnail">
      <img data-src="holder.js/300x200" alt="...">
      <div class="caption">
        <h3>Drink</h3>
        <p>Tag your favorite watering holes (bars, cafes)</p>
      </div>
    </div>
  </div>
  <div class="col-xs-6 col-md-3">
    <div class="thumbnail">
      <img data-src="gantry_park.jpg" alt="view from Gantry Park, LIC">
      <div class="caption">
        <h3>Sights</h3>
        <p>Tag your favorite places with awesome sights (views of skylines, sunrises/sunsets)</p>
      </div>
    </div>
  </div>
  <div class="col-xs-6 col-md-3">
    <div class="thumbnail">
      <img data-src="holder.js/300x200" alt="...">
      <div class="caption">
        <h3>Stores</h3>
        <p>Tag your favorite places to shop til you drop (stores that carry that rare item you’re always looking for)</p>
      </div>
    </div>    
  </div>
</div>
<!-- <ul>
<li>
  places to eat (restaurants, bakeries)
</li>
<li>
  places to drink (bars, cafes)
</li>
<li>
  places with awesome sights (views of skylines, sunrises/sunsets)
</li>
<li>
  places to shop (stores that carry that rare item you’re always looking for)
</li>
</ul>
 -->
<h3>
  You can use the map to search for other Happy Places tagged by other users to explore your own neighborhood or when you’re visiting a new one. 
</h3>
</div> <!-- end about div -->