// Place all the styles related to the about controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.jumbotron {
  // background-image: url("brushed.png");
  background: #48d3ff;
}

.thumbnail {
  background: #d0d0d0;

  .img-responsive {
    height: 200px;
  }

  .caption {
    height: 150px;
  }
}


