// Place all the styles related to the about controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.jumbotron {
  background-image: url("brushed.png");
}

.thumbnail {
  background-image: url("brushed.png");
  .img-responsive {
    height: 200px;
  }

  .caption {
    height: 150px;
  }
}


