// Place all the styles related to the tags controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.tag-jumbotron {
  background: url("brushed.png");
  padding-left: 20px;
  border-radius: 30px;
}

a {
  color: blue;
  text-decoration: none;
}

body {
  // background: #5DC8CD;
  // background: #5fd3b3;
  background: #5ccccc;

}